@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&display=swap');
body {
    margin: 0px;
    padding: 0px;
    /* background-image: linear-gradient(135deg, #0D4DFF, #00FFA9); */
    /* height: 100vh; */
    background-color: var(--color);
}
li {
    text-decoration: none;
}
.nama{
    color: #A0DDDE;
    text-align: center;
    margin-top: 10vh;
    font-size: 72px;
    font-family: 'Josefin Sans', sans-serif;
}
.position{
    color: #A0DDDE;
    margin-top: -30px;
    text-align: center;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
}
.div-about-me{
    display: flex;
    justify-content: center;
}
.btn.about-me {
padding: 10px 20px;
font-size: 16px;
color: #14122A;
background: linear-gradient(45deg,#3DA1C8, #FCEFD4); /* Adjust colors and angle as needed */
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

.nav-text{
  font-family: 'Josefin Sans', sans-serif;
}

.btn.about-me:hover {
  color: #14122A;
/* Optionally, you can add hover effects */
background: linear-gradient(45deg, #FCEFD4, #3DA1C8);
transform: scale(1.1);
}
  
.object{
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  border-radius: var(--radius);
  position: relative;
  animation: moveBox var(--duration) var(--delay) infinite alternate;
}
  
  /* Keyframe animation */
@keyframes moveBox {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
    left: calc(95% - 100px); /* Assuming the container is wider than 100px */
  }
}
.layer-1 {
position: absolute; /* Position the elements absolutely within the container */
top: 0;
left: 0;
width: 100%;
min-height: 100%; 
/* background-color: var(--color); */
}
.layer-2 {
position: absolute; /* Position the elements absolutely within the container */
top: 0;
left: 0;
width: 100%;
min-height: 100%; 
}

.layer-1 {
z-index: 1; /* Layer 1 is below Layer 2 */
}
.layer-2 {
z-index: 2; /* Layer 1 is below Layer 2 */
}
.glass-container {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                url('your-background-image.jpg');
    background-blend-mode: screen;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }
/*   
  body {
    height: 100%;
    overflow: hidden;
  } */
  .buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  }
  
  .buttons button {
    border: none;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .hidden {
    display: none;
  }
  
  #top {
    position: absolute;
    top: 0%;
    left: 50%;
  }
  
  #bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  
  #left {
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  #right {
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: var(--color);
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  }
  
  .top-layer.active {
    top: 100%;
  }
  
  .top-layer--2 {
    background: var(--color);
    transition-delay: 0.6s;
  }
  
  .top-layer--3 {
    background: var(--color);
    transition-delay: 0.4s;
  }
  
  .top-layer--4 {
    background: var(--color);
    transition-delay: 0.2s;
  }
  
  .top-layer--5 {
    background: var(--color);
    transition-delay: 0.1s;
  }
  
  .bottom-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: var(--color);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .bottom-layer.active {
    top: -100%;
  }
  
  .bottom-layer--2 {
    background: var(--color);
    transition-delay: 0.43s;
  }
  
  .bottom-layer--3 {
    background: var(--color);
    transition-delay: 0.3s;
  }
  
  .bottom-layer--4 {
    background: var(--color);
    transition-delay: 0.2s;
  }
  
  .bottom-layer--5 {
    background: var(--color);
    transition-delay: 0.1s;
  }
  .left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    bottom: auto;
    right: auto;
    background: var(--color);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .left-layer.active {
    left: 100%;
  }
 
  .left-layer--2 {
    background: var(--color);
    transition-delay: 0.43s;
  }
  
  .left-layer--3 {
    background: var(--color);
    transition-delay: 0.3s;
  }
  
  .left-layer--4 {
    background: var(--color);
    transition-delay: 0.2s;
  }
  
  .left-layer--5 {
    background: var(--color);
    transition-delay: 0.1s;
  }
  .right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 100%;
    bottom: auto;
    right: auto;
    background: var(--color);
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .right-layer.active {
    left: -100%;
  }
  
  .right-layer--2 {
    background: var(--color);
    transition-delay: 0.3s;
  }
  
  .right-layer--3 {
    background: var(--color);
    transition-delay: 0.2s;
  }
  .right-layer--4 {
    background: var(--color);
    transition-delay: 0.2s;
  }
  
  .right-layer--5 {
    background: var(--color);
    transition-delay: 0.1s;
  }
  /* Set initial opacity to 0 */
.fading-div {
  opacity: 0;
  /* Optionally, you can set a specific height and width for the div */
  /* height: 100px;
  width: 200px; */
  /* Other styles for positioning, colors, etc. */
}

/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the div */
.fading-div {
  /* Set the animation properties */
  animation-delay: 1s;
  animation-name: fadeIn;
  animation-duration: 1s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* Use a different easing function if desired */
  /* Optionally, you can add animation-delay to control when the animation starts */
  /* animation-delay: 0.5s; */
  animation-fill-mode: forwards; /* Keeps the final state after the animation ends */
}

.about-p{
  color: var(--color);
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
}
.about-title{
  color: var(--color);
  text-align: center;
  font-size: 72px;
  font-family: 'Josefin Sans', sans-serif;
}
.container-about{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.bio{
  text-align: right;
  color: var(--color);
  margin: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.vl {
  color: var(--color);
  border-left: 6px solid;
  height: 40vh;
}
.about-kiri{
  padding: 50px;
  display: flex;
}
.about-kanan{
  width: 60%;
  padding: 50px;
  color: white;
  overflow: hidden;
  position: relative;
}
.about-kanan::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Initially position the pseudo-element outside the div */
  width: 100%;
  height: 100%;
  background-color: #3A0000; /* New background color on hover */
  transition: left 0.3s; /* Transition the left property */
}

.about-kanan:hover::before {
  left: 0; /* Slide the background color from left to right on hover */
}

.vl{
  height: 25vh;
}
.resume-body{
  display: flex;
}
.container-resume{
  display: flex;
  margin-top: 100px;
}
.card-resume{
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  background: #003631;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}
.card-resume:hover{
  transform: translateY(-1rem);
}
.card-resume:hover~.card-resume{
  transform: translateX(130px);
}
.card-resume:not(:first-child){
  margin-left: -130px;
}

.image-bg{
  width: 100%;
  border-radius: 20px;
}
.header{
  font-size: 42px;
  color: #7DBF5E;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}
.desk-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}
.desk{
  font-size: 14px;
  color: white;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}
.icon-resume{
  width: 50px;
}
.icon-container{
  display: flex;
  justify-content: flex-start;
}
.porto-title{
  font-size: 48px;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
.container_porto{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_porto{
  margin: 10vh;
  position: relative;
  isolation: isolate;
  width: 60vw;
  height: 50vh;
  background-color: #000;
  border-radius: 8px;
}
.card_image{
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 0 20%;
  border-radius: inherit;
  transition: transform 250ms;
}
.card_porto:hover .card_image{
  transform: translateY(-112px) scale(0.75);
}
.card_body{
  position: absolute;
  inset: 0;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
  color: #f4c644;
}
.card_category{
  color: #fff;
  text-align: left;
}
.card_button{
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f4c644;
  color: #000;
}
.bio-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}
.pembatas-resume{
  color: #7DBF5E;
  margin-top:-5px;
}
.header-2{
  font-size: 24px;
  color: #7DBF5E;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}
.card-bio{
  background-color: white;
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background: #003631;
  box-shadow: 0rem -1rem 3rem #000;

  transition: .2s;
}
/* .card-bio:hover{
  transform: translateX(-1rem);
} */
.card-bio:hover~.card-bio{
  transform: translateY(60px);
}
.card-bio:not(:first-child){
  margin-top: -100px;
}


@media screen and (max-width: 500px) {
  .container-resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
  }
  .card-resume{
    background-color: white;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    background: #003631;
    box-shadow: -1rem 0 3rem #000;
  
    transition: .2s;
  }
  .card-resume:hover{
    transform: translateY(-1rem);
  }
  .card-resume:hover~.card-resume{
    transform: translateY(170px);
  }
  .card-resume:not(:first-child){
    margin-left: 0;
    margin-top: -200px;
  }
  .card-bio{
    width: 300px;
    height: 300px;
  }
  .vl{
    display: none;
  }
  .about-kiri{
    width: 100%;
  }
  .bio{
    width: 100%;
    text-align: center;
  }
  .about-kanan {
    width: 100%;
    padding: 0px;
  }
  .about-kiri{
    padding: 5px;
  }
  .resume-body{
    flex-direction: column;
  }
}
